<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
    <debug>true</debug>
    <colors>
        <color>
            <name>background</name>
            <description>Arriére plan</description>
            <value>#cccccc</value>
        </color>
        <color>
            <name>foreground</name>
            <description>Texte</description>
            <value>#000000</value>
        </color>
        <color>
            <name>bonton</name>
            <description>Boutons</description>
            <value>#ff9999</value>
        </color>
        <color>
            <name>bonton_selected</name>
            <description>Boutons au survol</description>
            <value>#ccccff</value>
        </color>
        <color>
            <name>bonton_texte</name>
            <description>Texte des boutons</description>
            <value>#000000</value>
        </color>
        <color>
            <name>bonton_texte_selected</name>
            <description>Texte des boutons au survol</description>
            <value>#0000ff</value>
        </color>
        <color>
            <name>background_menu</name>
            <description>Arrière plan du menu</description>
            <value>#13c7f6</value>
        </color>
        <color>
            <name>background_tab_impair</name>
            <description>Tableau ligne impaire</description>
            <value>#ffcccc</value>
        </color>
        <color>
            <name>background_tab_pair</name>
            <description>Tableau ligne paire</description>
            <value>#ccccff</value>
        </color>
        <color>
            <name>background_tab_texte</name>
            <description>Texte tableau</description>
            <value>#000000</value>
        </color>
        <color>
            <name>background_tab</name>
            <description>Entete colonnes</description>
            <value>#ff0000</value>
        </color>
        <color>
            <name>background_tab_texte</name>
            <description>Texte entête colonnes</description>
            <value>#ff3333</value>
        </color>
    </colors>
</config>